 
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
 

.buttons-container {
  display: flex;
  justify-content: space-around; /* Adjust the alignment as needed */
  margin-top: 20px;
}

.user-management-button {
  flex: 1; /* Equal width for all buttons */
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-management-button:nth-child(2) {
  background-color: #2196f3; /* Different color for the second button */
}

.user-management-button:nth-child(3) {
  background-color: #ff9800; /* Different color for the third button */
}

.user-management-button:nth-child(4) {
  background-color: #e91e63; /* Different color for the fourth button */
}

.user-management-button:nth-child(5) {
  background-color: #673ab7; /* Different color for the fifth button */
}

.user-management-button:hover {
  background-color: #45a049;
}

.image {
  display: none; /* Hide the image element as it's now set as a background */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/images.png') center/cover no-repeat; /* Set the image as background */
}